Options All -Indexes
<FilesMatch "\.(inc.*)$">
    Order deny,allow
    Deny from all
</FilesMatch>

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|sql)$">
Order Allow,Deny
Deny from all
</FilesMatch>

#ErrorDocument 404 falhas/404
#ErrorDocument 500 http://example.com/500/

#RewriteEngine on
#RewriteBase /
#views
#RewriteCond %{REQUEST_URI} ^/404/$
#RewriteRule ^(.*)$ /falhas/404 [L]

#ReWriteRule ^home?$ views/home/index.php$1 [NC]
#ReWriteRule ^falhas\/404?$ views/falhas/404.php$1 [NC]

#RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#ReWriteRule ^v1\/autenticacao(\/[\d])?$ controllers/autenticacao.php$1 [NC]
#ReWriteRule ^v1\/usuario(\/*)?$ controllers/usuario.php$1 [NC]
#ReWriteRule ^v1\/usuario(\/*)?$ controllers/usuario.php$1 [NC]